  <script src="{{ site.baseurl }}/assets/javascripts/vendor/jquery/jquery-2.1.4.min.js"></script>
  <script src="{{ site.baseurl }}/assets/javascripts/foundation.min.js"></script>
  <script src="{{ site.baseurl }}/assets/javascripts/foundation.equalizer.js"></script>
  {% if page.title == "Wade in the Water" %}<script src="{{ site.baseurl }}/assets/javascripts/featured.js"></script>{% endif %}
  {% if page.title == "Interviews" %}<script src="{{ site.baseurl }}/assets/javascripts/interviews.js"></script>{% endif %}
  {% if page.collection == "interviews" %}<script src="{{ site.baseurl }}/assets/javascripts/interview-page.js"></script>{% endif %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lity/1.6.6/lity.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js"></scr‌​ipt>
  </body>
</html>
