{% capture lvl %}{{ page.url | append:'index.html' | split:'/' | size }}{% endcapture %}
{% capture relative %}{% for i in (3..lvl) %}../{% endfor %}{% endcapture %}

<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ site.title }} - {{page.title}}</title>

    <meta name="description" content="{{ site.site_description }}" />
    <meta name="author" content="{{ site.author.name }}" />
    <meta name="copyright" content="{{ site.copyright }}"/>

    <!-- 404 Redirect -->
    {% if page.url == "/404.html" %}
      <meta http-equiv="refresh" content="5; url=/">
    {% endif %}
    <!-- /404 Redirect -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/stylesheets/style.css" />
  </head>
  <body>
    <div class="row expanded">
      <ul class="menu vertical{{ include.fixed }}">
        <!-- <li><a href="/">Wade in the Water</a></li> -->
        {% assign pages = site.pages | sort:"order" %}
        {% for p in pages %}
        {% unless p.hide %}
          <li>
            <a class="{{ p.url | remove: "/" }}{% if p.url == page.url %} active{% endif %}" href="{{ p.url | prepend:site.baseurl }}">{{ p.title }}</a>
          </li>
        {% endunless %}
        {% endfor %}
      </ul>
    </div>
