{% include header.html fixed=" fixed" %}

<div class="container row expanded">
    <div class="row">
      <div class="small-10 columns end">
        <h1 class="with-tags">{{ page.name }}</h1>
      </div>
    </div>
    <div class="row">
      <div class="medium-10 small-12 tags columns end">
        <p class="display4 subheader">{{ page.bio }}</p>
        {% if page.occupation %}<span class="tag icon"><i class="material-icons">work</i>&nbsp;{{ page.occupation }}</span>{% endif %}
        {% if page.location %}<span class="tag icon"><i class="material-icons">location_on</i> {{ page.location }}</span><br />{% endif %}
        {% for tag in page.topics %}
            <span class="tag">{{ tag }}</span>
        {% endfor %}
      </div>
      <div class="interview-text small-12">
        {{ content }}
      </div>
    </div>
</div>
{% include footer.html %}
