  <script src="{{ page.base_url }}assets/javascripts/vendor/jquery/jquery-2.1.4.min.js"></script>
  <script src="{{ page.base_url }}assets/javascripts/foundation.min.js"></script>
  {% if page.title == "Interviews" %}<script src="{{ page.base_url }}assets/javascripts/interviews.js"></script>{% endif %}
  {% if page.collection == "interviews" %}<script src="{{ page.base_url }}assets/javascripts/interview-page.js"></script>{% endif %}
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js"></scr‌​ipt>
  </body>
</html>
