{% include header.html fixed=" fixed" %}

<div class="container row expanded">
    <div class="row news-feature">
      <div class="medium-10 small-12 columns end">
        <p><a href="{{ site.baseurl }}/news">&larr; Back</a></p>
        <p class="display2 no-margin">{{ page.title }}</p>
        <p class="small gray">posted {{ page.date | date: '%B %d, %Y' }}</p>
        <br />
      </div>
    </div>
    <div class="row">
      <div class="medium-8 small-12 columns end">
        {{ content }}
      </div>
    </div>
</div>
{% include footer.html %}
