---
layout: default
title: Interviews
base_url: "../../"
order: 0
---
<div class="container row expanded">
  <div class="row collapse interview-grid">
    {% for i in site.interviews %}
    <div class="large-5 medium-5 columns interview-container">
      <a class="large-5 small-7 medium-7 large-offset-0 medium-offset-0 columns interview" href="{{ i.url }}">
        <p>{{ i.name }}</p>
      </a>
      <div class="large-7 medium-5 columns description">
        {% if i.occupation %}<span class="tag icon"><i class="material-icons">work</i>&nbsp;{{ i.occupation }}</span>{% endif %}
        {% if i.location %}<span class="tag icon"><i class="material-icons">location_on</i>&nbsp;{{ i.location }}</span>{% endif %}
        <p class="display2">{{ i.punchquote }}</p>
      </div>
    </div>
    {% endfor %}
  </ul>
  </div>
</div>
