---
layout: default
title: Wade in the Water
base_url: "../../"
hide: true
---
<div class="container row expanded">
  <div class="row">
    <div class="small-10 columns end">
      <h3>Wade in the Water is a grassroots oral history of Black lives in the United States. <a style="display: inline-block;" href="/about">More about us &rarr;</a></h3>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="small-12 columns"><p class="display2">Featured Interviews</p></div>
    {% for i in site.interviews %}
    {% if forloop.index == 3 or forloop.index == 4 or forloop.index == 5 or forloop.index == 6 %}
    <div class="interview-feature">
      <a class="small-7 medium-3 large-2 columns interview end" href="{{ i.url }}">
        <p>{{ i.name }}</p>
      </a>
    </div>
    {% endif %}
    {% endfor %}
  </div>
  <div class="row">
    <div class="small-12 columns"><p class="display2">In Print</p></div>
    <div class="small-12 columns">
    <div class="issue-feature">
      <a class="small-10 medium-6 large-4 columns issue end" href="{{ i.url }}">
      <p>001 // a year of the movement</p>
      </a>
    </div>
    <div class="issue-feature">
      <a class="small-10 medium-6 large-4 columns issue end" href="{{ i.url }}">
      <p>002 // the master's tools</p>
      </a>
    </div></div>



  </div>

</div>
